.vs/NotesApp/v17/.suo
.vs/NotesApp/v17/.futdcache.v2
.vs/NotesApp/FileContentIndex/d9ae3865-57e4-4874-93c3-0b3e459dcdfb.vsidx
.vs/NotesApp/FileContentIndex/b4e8942c-573c-4a51-859b-4e5d5b27f1be.vsidx
.vs/NotesApp/FileContentIndex/889cc38b-cce1-4f1b-aad5-226086e4b04d.vsidx
.vs/NotesApp/FileContentIndex/7f12dfe5-1285-4104-a4a7-c6770a382389.vsidx
.vs/NotesApp/FileContentIndex/5a5e5c76-a3ad-4515-b80a-f70aa0e05cb2.vsidx
.vs/NotesApp/DesignTimeBuild/.dtbcache.v2
.vs/NotesApp/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-wal
.vs/NotesApp/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-shm
.vs/NotesApp/CopilotIndices/17.14.1518.61961/SemanticSymbols.db
.vs/NotesApp/CopilotIndices/17.14.1518.61961/CodeChunks.db-wal
.vs/NotesApp/CopilotIndices/17.14.1518.61961/CodeChunks.db-shm
.vs/NotesApp/CopilotIndices/17.14.1518.61961/CodeChunks.db
.vs/NotesApp/v17/DocumentLayout.backup.json
.vs/NotesApp/v17/DocumentLayout.json
NotesApp/bin/Debug/net8.0/appsettings.Development.json
NotesApp/bin/Debug/net8.0/appsettings.json
NotesApp/bin/Debug/net8.0/Azure.Core.dll
NotesApp/bin/Debug/net8.0/Azure.Identity.dll
NotesApp/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
NotesApp/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
NotesApp/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
NotesApp/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
NotesApp/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
NotesApp/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
NotesApp/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
NotesApp/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
NotesApp/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/Humanizer.dll
NotesApp/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
NotesApp/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
NotesApp/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
NotesApp/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
NotesApp/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
NotesApp/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
NotesApp/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
NotesApp/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
NotesApp/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
NotesApp/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
NotesApp/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
NotesApp/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
NotesApp/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
NotesApp/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
NotesApp/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
NotesApp/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
NotesApp/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
NotesApp/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
NotesApp/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
NotesApp/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
NotesApp/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
NotesApp/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
NotesApp/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
NotesApp/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
NotesApp/bin/Debug/net8.0/Microsoft.Identity.Client.dll
NotesApp/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
NotesApp/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
NotesApp/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
NotesApp/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
NotesApp/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
NotesApp/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
NotesApp/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
NotesApp/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
NotesApp/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
NotesApp/bin/Debug/net8.0/Mono.TextTemplating.dll
NotesApp/bin/Debug/net8.0/NotesApp.deps.json
NotesApp/bin/Debug/net8.0/NotesApp.dll
NotesApp/bin/Debug/net8.0/NotesApp.exe
NotesApp/bin/Debug/net8.0/NotesApp.pdb
NotesApp/bin/Debug/net8.0/NotesApp.runtimeconfig.json
NotesApp/bin/Debug/net8.0/NotesApp.staticwebassets.endpoints.json
NotesApp/bin/Debug/net8.0/NotesApp.staticwebassets.runtime.json
NotesApp/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
NotesApp/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
NotesApp/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
NotesApp/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
NotesApp/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
NotesApp/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
NotesApp/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
NotesApp/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
NotesApp/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
NotesApp/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
NotesApp/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
NotesApp/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
NotesApp/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
NotesApp/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
NotesApp/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
NotesApp/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
NotesApp/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
NotesApp/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
NotesApp/bin/Debug/net8.0/System.CodeDom.dll
NotesApp/bin/Debug/net8.0/System.Composition.AttributedModel.dll
NotesApp/bin/Debug/net8.0/System.Composition.Convention.dll
NotesApp/bin/Debug/net8.0/System.Composition.Hosting.dll
NotesApp/bin/Debug/net8.0/System.Composition.Runtime.dll
NotesApp/bin/Debug/net8.0/System.Composition.TypedParts.dll
NotesApp/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
NotesApp/bin/Debug/net8.0/System.Drawing.Common.dll
NotesApp/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
NotesApp/bin/Debug/net8.0/System.Memory.Data.dll
NotesApp/bin/Debug/net8.0/System.Runtime.Caching.dll
NotesApp/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
NotesApp/bin/Debug/net8.0/System.Security.Permissions.dll
NotesApp/bin/Debug/net8.0/System.Windows.Extensions.dll
NotesApp/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
NotesApp/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
NotesApp/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
NotesApp/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
NotesApp/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
NotesApp/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
NotesApp/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
NotesApp/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
NotesApp/obj/Debug/net8.0/apphost.exe
NotesApp/obj/Debug/net8.0/NotesApp.AssemblyInfo.cs
NotesApp/obj/Debug/net8.0/NotesApp.AssemblyInfoInputs.cache
NotesApp/obj/Debug/net8.0/NotesApp.assets.cache
NotesApp/obj/Debug/net8.0/NotesApp.csproj.AssemblyReference.cache
NotesApp/obj/Debug/net8.0/NotesApp.csproj.CoreCompileInputs.cache
NotesApp/obj/Debug/net8.0/NotesApp.csproj.FileListAbsolute.txt
NotesApp/obj/Debug/net8.0/NotesApp.csproj.Up2Date
NotesApp/obj/Debug/net8.0/NotesApp.dll
NotesApp/obj/Debug/net8.0/NotesApp.GeneratedMSBuildEditorConfig.editorconfig
NotesApp/obj/Debug/net8.0/NotesApp.genruntimeconfig.cache
NotesApp/obj/Debug/net8.0/NotesApp.GlobalUsings.g.cs
NotesApp/obj/Debug/net8.0/NotesApp.MvcApplicationPartsAssemblyInfo.cache
NotesApp/obj/Debug/net8.0/NotesApp.pdb
NotesApp/obj/Debug/net8.0/NotesApp.RazorAssemblyInfo.cache
NotesApp/obj/Debug/net8.0/NotesApp.RazorAssemblyInfo.cs
NotesApp/obj/Debug/net8.0/NotesApp.sourcelink.json
NotesApp/obj/Debug/net8.0/ref/NotesApp.dll
NotesApp/obj/Debug/net8.0/refint/NotesApp.dll
NotesApp/obj/Debug/net8.0/rjimswa.dswa.cache.json
NotesApp/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
NotesApp/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
NotesApp/obj/Debug/net8.0/rpswa.dswa.cache.json
NotesApp/obj/Debug/net8.0/staticwebassets.build.endpoints.json
NotesApp/obj/Debug/net8.0/staticwebassets.build.json
NotesApp/obj/Debug/net8.0/staticwebassets.build.json.cache
NotesApp/obj/Debug/net8.0/staticwebassets.development.json
NotesApp/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
NotesApp/obj/Debug/net8.0/staticwebassets.removed.txt
NotesApp/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
NotesApp/obj/NotesApp.csproj.nuget.dgspec.json
NotesApp/obj/NotesApp.csproj.nuget.g.props
NotesApp/obj/NotesApp.csproj.nuget.g.targets
NotesApp/obj/project.assets.json
NotesApp/obj/project.nuget.cache
NotesApp/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
